<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">    
</head>
<body>
    {{>header}}

    <div class="container minHeight py-5 ">
        <div class="card border-remove mb-1 text-center align-items-center">
            <div class="card-header collapsable-header about-element" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{header1}}
                    </button>
                </h5>
            </div>

        <div id="collapseOne" class="collapse mt-1" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body about-card-body">
                An aspiring developer who has a passion for ethical hacking and everything security related who'll
                try to make the digital world a safer place page by page.
            </div>
            </div>
        </div>
        <div class="card border-remove mb-1 align-items-center">
            <div class="card-header collapsable-header about-element" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {{header2}}
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse mt-1" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body about-card-body">
                    This application was made through HTML5, CSS3, JavaScript, Boostrap4, Node.js, Express, and using JSON 
                    for storage.
                </div>
            </div>
        </div>
        <div class="card border-remove mb-1 align-items-center text-center">
            <div class="card-header collapsable-header about-element" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    {{header3}}
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse mt-1" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body about-card-body">
                    For more works check out my <a href="https://fear-the-reaper.github.io/">portfolio</a>!
                </div>
            </div>
        </div>
    </div>

    
    {{>footer}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/emailCopy.js"></script>
</body>
</html>