<footer class="footer bg-secondary">
    <div class="footer-elements" id="creation">
        created by: Reaper
    </div>
    <div class="footer-elements" id="fav-link-spaces">
        <a class="footer-links mr-4"  href="">github</a>
        <a class="footer-links ml-5 mr-3" href="">insta</a>
        <a class="footer-links ml-5" href="">linkdin</a>        
    </div>
</footer>