body {
    min-height: 100vh;
}

/* INDEX.HBS START*/
.container-fluid {
    min-height: 405px;
}

.minHeight {
    min-height: 410px;
}
.card {
    border-radius: 0px;
}

.cards-bg {
    background-color: #e7e8ec;
}

.form-control {
    border-radius: 0px;
}

.btn {
    padding: 5px 15px;
    border-radius: 0px;
}

.bg-dark {
    background-color: #0B0A07!important;
}

.bg-secondary {
    background-color: #202040!important;
}

.icons {
    width: fit-content;
}



.prompt  {
    display: none;
}


/* INDEX.HBS END*/

/* About.hbs START */

.about-element {
    border-radius: 50px!important;    
    padding: 15px 20px;
    width: 230px;
}

.border-remove {
    border: 0px;
}

.about-card-body {
    border: 1px solid #333333;
    border-radius: 50px;
}


.card-body {
    padding: 1.9rem;
}

.btn-link{
    color: white;
}


.collapsable-header {
    background: #333333;
}
/* About.hbs END */